@import "antd/dist/antd.css";

.App {
  text-align: center;
}

.auth-form {
  text-align: center;
}

.scha {
  position: absolute;
  margin-top: 62px;
  left: calc(50% - 40px);
  font-size: 14px;
  font-weight: 600;
}
